@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeInOpacity {
  from { opacity: 0;}
  to { opacity: 1;}
}


.word {
  animation: fadeInOpacity 3s ease-out;
  white-space: pre-wrap;
  display: inline-block;
}


.scroll-primary::-webkit-scrollbar {
  width: 8px;
}
.scroll-primary::-webkit-scrollbar-track {
  background: theme(colors.neutral.200); 
  border-radius: 10px;
}
.scroll-primary::-webkit-scrollbar-thumb {
  background: theme(colors.neutral.400);
  border-radius: 10px;
}



